# Archivos compilados
/build/

# Dependencias
/lib/

# Omitido por ahora
/src/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración IDE
/.idea/
*.iml
*.ipr
*.iws

# Archivos de paquetes
*.jar
*.war
*.ear
