# Ignore everything
*
# But not these files...
!.gitignore

!main.tex
!main.pdf
!export.bib


# Excluye las carpetas "code", "imagenes" y "capitulos" y sus subcarpetas
!code/*
!imagenes/*
!capitulos/*
