# Ignore everything
*

# But not these files...
!.gitignore
# !README.md
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!/src/Parser.jj
# !/src/piat/javacc/Main.java
# !/src/piat/javacc/Trabajador.java
# !/src/piat/javacc/EstUsuario.java
# !/src/piat/javacc/EstGenerales.java
# !/src/piat/javacc/EstAgregadasTipoFecha.java