# Ignore everything
*

# Parser_backup.jj
# But not these files...
!.gitignore
!TFG_MIGUEL_AMARIS_MARTOS.pdf
!main.tex
# !export.bib
# !main.pdf
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!/capitulos/*
# !/code/*
# !/imagenes/*

